<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <form action="/postUpdateUser" method="post">
        <input type="text" hidden name="userId" value="<%= dataUser.id %>">
        <label>First name:</label><br>
        <input type="text" id="fname" name="firstName" value="<%= dataUser.firstName %>"><br>
        <label>Last name:</label><br>
        <input type="text" id="lname" name="lastName" value="<%= dataUser.lastName %>"><br>
        <label>Email:</label><br>
        <input type="text" id="email" name="email" value="<%= dataUser.email %>"><br>
        <label>Address:</label><br>
        <input type="text" id="address" name="address" value="<%= dataUser.address %>"><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>